body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #87D7FC;
    /* background: radial-gradient(circle at center, rgb(132 164 198) 0%, rgb(21 84 153 / 28%) 90%); */
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

header {
    /* background: url(./images/bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.waves {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    height: 120px;
    /* висота хвиль */
    pointer-events: none;
    /* щоб не блокували кліки */

    z-index: -1;
    /* щоб було поверх фону */
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 60px;
    }
}

.progres-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(to right, #004999 0%, #007AFF 100%);
    z-index: 1001;
    animation-name: fill-progress;
    animation-timing-function: linear;
    animation-timeline: scroll();
}

@keyframes fill-progress {
    to {
        width: 100%;
    }
}

.bg-dark {
    background-color: #00000000 !important;
}

.navbar {
    position: fixed;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    box-shadow:
        inset 0 -2px 2px rgba(255, 255, 255, 0.25),
        inset -2px 0 2px rgba(255, 255, 255, 0.15),
        inset 2px 0 4px rgba(255, 255, 255, 0.25);
    transform: translateX(-50%);
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); */
    max-width: 1150px;
    width: 100%;
    height: 90px;
    padding: 0 22px;
    border-radius: 0 0 24px 24px;
    z-index: 1000;
    top: 0;
    /* animation: slideDown 1s ease-out forwards; */
}

@keyframes slideDown {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.btn-primary {
    width: 248px;
    height: 49px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    border: none;
    box-shadow: 0 0 10px rgba(255, 149, 0, 0.25);
}

.navbar a img {
    width: 80px;
}

.nav-link {
    font-size: 20px;
    /* mix-blend-mode: difference; */
    color: #333;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

#header {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.25))
        /*0%, #e3f0ff 25%)*/
    ;
    backdrop-filter: blur(12px);
    box-shadow:
        inset 0 2px 2px rgba(255, 255, 255, 0.5),
        inset -2px 0 2px rgba(255, 255, 255, 0.15),
        inset 2px 0 4px rgba(255, 255, 255, 0.25),
        inset 0 -2px 2px rgba(255, 255, 255, 0.25);
    max-width: 1150px;
    border-radius: 20px;
    background-size: 600% 600%;
    background-repeat: no-repeat;
    /* animation: slideUp 1.5s ease-out forwards, gradientMove 4s ease infinite; */
    margin-top: 130px;
}

/* @keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 80%;
    }

    100% {
        background-position: 0% 50%;
    }
} */
/* 
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    30% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

.hero-img {
    position: absolute;
    z-index: -1;
    top: 0;
    max-width: 100%;
}

.container {
    padding: 80px 0;
}

#width-header {
    width: 1028px;
}

#h1-header {
    max-width: 1005px;
    /* background: linear-gradient(90deg, #007AFF, #00C6FF); */
    background-color: #004999;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Nunito", sans-serif;
    font-size: 55px;
    line-height: 44px;
    padding-bottom: 24px;
}

#h2-header {
    max-width: 912px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    /* line-height: 40px; */
    padding-bottom: 24px;
}

#p-header {
    color: #fff;
    max-width: 632px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}



/* Виправлено ID на Class */
.buttons-header {
    width: 280px;
    margin: 0 auto;
}

/* Виправлено ID на Class */
.btn-header {
    width: 280px;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
}

.btn-header:hover {
    background: #004a99b8;
    color: rgba(255, 255, 255, 0.8);
}

.how-it-works__blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#block-how {
    background: linear-gradient(135deg, rgba(227, 240, 255, 0.5), rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(12px);
    box-shadow:
        8px 8px 8px rgba(66, 133, 244, 0.15),
        inset -2px -2px 2px rgba(255, 255, 255, 1),
        inset 2px 2px 2px rgba(255, 255, 255, 1);
}

#block-how h2 {
    text-align: center;
    color: #004999;
}

.img-header {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img-header-box img {
    max-width: 194px;
}

.img-header-box {
    opacity: 0;
    transform: translateY(50px);
    animation: moveUp 1s ease forwards;
}

.img-header-box:nth-child(1) {
    animation-delay: 2.3s;
}

.img-header-box:nth-child(2) {
    animation-delay: 2s;
}

.img-header-box:nth-child(3) {
    animation-delay: 2.1s;
}

.img-header-box:nth-child(4) {
    animation-delay: 2.2s;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.what-will-you-get__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top top" "left right";
    gap: 20px;
    margin-top: 30px;
}

section.what-will-you-get {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

section.how-it-works {
    width: 360px;
    margin-top: 38px;
    background: rgba(255, 255, 255, 70%);
}

section.how-it-works .how-it-works__title {
    width: 100%;
    padding-top: 22px;
    text-align: center;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 8px;
}

.how-it-works__block {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(66, 133, 244, 0.15),
        inset -2px -2px 2px rgba(255, 255, 255, 1),
        inset 2px 2px 2px rgba(255, 255, 255, 1);
    /* inset 0 -2px 2px rgba(255, 255, 255, 0.25), inset -2px 0 2px rgba(255, 255, 255, 0.15), inset 2px 0 4px rgba(255, 255, 255, 0.25); */
    /* 12px 12px 12px rgba(0, 0, 0, 0.25); */
    /* inset -10px -10px 8px rgba(255, 255, 255, 0.12),
    inset 10px 10px 12px #a7a7a76c; */
}

.how-it-works__block img {
    max-width: 80px;
}

.how-it-works__block p {
    max-width: 300px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    line-height: 20px;
    margin-bottom: 25px;
    font-weight: light;
}

.how-it-works__block h3 {
    font-size: 24px;
    font-family: "Nunito", sans-serif;
    line-height: 30px;
    color: #007AFF;
}

.how-it-works__block--two h3 {
    width: 290px;
}

.what-will-you-get__title {
    width: 100%;
    color: #004999;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    font-size: 40px;
    font-family: "Nunito", sans-serif;
}

.what-will-you-get__block {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 8px 8px 8px rgba(66, 133, 244, 0.15),
        inset -2px -2px 2px rgba(255, 255, 255, 1),
        inset 2px 2px 2px rgba(255, 255, 255, 1);
    border-radius: 50px;
    padding: 30px;
    text-align: left;
}

.main-buttons {
    position: relative;
    top: 24px;
}

.what-will-you-get__block h3 {
    color: #007AFF;
    font-size: 28px;
    font-weight: 300;
    line-height: 25px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 8px;
}

.what-will-you-get__block:nth-child(1) {
    grid-area: top;
}

.what-will-you-get__block:nth-child(2) {
    grid-area: left;
}

.what-will-you-get__block:nth-child(3) {
    grid-area: right;
}

.what-will-you-get__block p {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

.what-will-you-get__block--one {
    width: 605px;
    margin: 0 auto;
}

.what-will-you-get__block--two {
    width: 430px;
}

.what-will-you-get__block--three {
    width: 488px;
}

.button-wrap {
    margin-top: 24px;
    font-size: 32px;
    font-family: "Nunito", sans-serif;
}

.button-wrap a:hover {
    background: #004a99b8;
    color: rgba(255, 255, 255, 0.8);
}

.btn {
    width: 300px;
    height: 60px;
    display: inline-block;
    background: #FFDD55;
    box-shadow:
        4px 4px 4px rgba(0, 0, 0, 0.25),
        inset 1px 1px 2px rgba(255, 255, 255, 0.25),
        inset -2px -2px 2px rgba(0, 0, 0, 0.25);

    color: #333;
    font-weight: bold;
    padding: 18px 60px;
    border-radius: 24px;
    text-decoration: none;
    transition: 0.2s;
}

/* 
footer {
    background: linear-gradient(to bottom right, #333333 0%, #222222 50%, #111111 100%);
    max-width: 1150px;
    border-radius: 20px;
} */

.footer-logo img {
    width: 122px;
}

.footer-text {
    width: 70px;
    height: 68px;
    color: #fff;
    line-height: 25px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
}

.footer-text-a {
    background: linear-gradient(90deg, #007AFF, #00C6FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
}

div.footer-logo {
    width: 205px;
}

footer h4 {
    font-family: "Nunito", sans-serif;
}

div.footer__social {
    width: 332px;
    padding-top: 55px;
}

.footer__social ul,
.footer__contacts ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social li,
.footer__contacts li {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: #333;
}

.footer__social img,
.footer__contacts img {
    display: block;
    margin: 0 auto;
}

div.footer__contacts {
    width: 250px;
    padding-top: 55px;
}

.footer__social h4,
.footer__contacts h4 {
    font-size: 24px;
    color: #fff;
}

footer hr {
    color: rgba(255, 255, 255, 0.5);
}

footer .footer-top-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.footer-bottom-block {
    display: flex;
    justify-content: start;
    align-items: center;
}

.copyright,
.PrivacyPolicy {
    margin-right: 20px;
}


.lead {
    font-weight: 400;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: inset 0 -2px 2px rgba(255, 255, 255, 0.25), inset -2px 0 2px rgba(255, 255, 255, 0.15), inset 2px 0 4px rgba(255, 255, 255, 0.25);
}

.btn-outline-primary {
    height: 80px;
}

/* Медіа запити */
@media (max-width: 1200px) {
    #h1-header {
        line-height: 55px;
    }

    .navbar {
        top: 0;
        border-radius: 0;
        width: 100%;
    }

    #width-header {
        width: 655px;
    }

    .container {
        padding: 80px 0;
    }

    .what-will-you-get__blocks {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .what-will-you-get__block {
        margin: 0 auto;
        width: 605px;
    }
}

@media (max-width: 991px) {
    .how-it-works__blocks {
        display: block;
    }

    #header {
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .img-header-box img {
        width: 136px;
    }

    div.footer-logo {
        width: 160px;
        padding-left: 0;
    }

    .footer-bottom-block {
        padding: 0;
    }
}

@media (max-width: 770px) {
    .navbar a img {
        width: 50px;
    }

    .navbar-collapse a {
        font-size: 14px;
    }

    .btn-primary {
        max-width: 200px;
        height: 49px;
        font-size: 14px;
    }

    #h1-header {
        font-size: 32px;
        padding: 0;
    }

    #h2-header {
        color: #333;
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 0;
    }

    #p-header {
        color: #333;
        font-weight: 400;
        font-size: 12px;
    }

    /* Виправлено ID на Class */
    .btn-header {
        width: 240px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #block-how h2 {
        font-size: 24px !important;
    }

    .how-it-works__block img {
        width: 60px;
    }

    .how-it-works__block h3 {
        width: 300px;
        font-size: 16px;
        line-height: 16px;
    }

    .how-it-works__block p {
        width: 271px;
        font-size: 12px;
    }

    .what-will-you-get__title {
        font-size: 24px;
    }

    .what-will-you-get__block h3 {
        font-size: 20px;
    }

    .what-will-you-get__block p {
        font-size: 16px;
    }

    .what-will-you-get__block {
        width: 400px;
    }

    /* Виправлено ID на Class */
    .buttons-header {
        width: auto;
    }

    .container {
        margin: 0 !important;
    }

    #block-how {
        margin: 0 auto !important;
        border-radius: 0 !important;
    }

    .container-blocks {
        margin: 0 auto !important;
        border-radius: 0 !important;
    }

    /* Стилі кнопок адаптивні */
    .btn-header {
        width: 240px;
        height: 50px;
        padding: 0;
        font-size: 12px;
        line-height: 12px;
    }

    .buttons-header {
        display: flex !important;
        justify-content: center;
    }

    .img-header-box img {
        width: 90px;
    }
}

@media (max-width: 576px) {
    .menuBut {
        margin: 0 auto;
    }

    .collapse {
        margin-top: 40px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: inset 0 -2px 2px rgba(255, 255, 255, 0.25), inset -2px 0 2px rgba(255, 255, 255, 0.15), inset 2px 0 4px rgba(255, 255, 255, 0.25);
        border-radius: 20px;
    }

    .collapse a {
        color: #333;
        font-size: 16px;
    }

    .img-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .img-header-box {
        text-align: center;
    }

    .img-header-box img {
        width: 130px;
    }

    #h1-header {
        font-size: 32px;
        padding: 4px;
        text-align: left;
        line-height: 32px;
    }

    #h2-header {
        font-size: 24px;
        padding: 4px;
        line-height: 24px;
        text-align: left;
    }

    #p-header {
        font-weight: 500;
        font-size: 16px;
        padding: 4px;
        line-height: 24px;
        text-align: left;
    }

    .btn-header {
        width: 240px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #block-how h2 {
        font-size: 20px !important;
        font-weight: 600 !important;
    }

    .how-it-works__block img {
        width: 60px;
    }

    .how-it-works__block h3 {
        width: 300px;
        font-size: 15px;
        line-height: 16px;
        font-weight: 600 !important;
    }

    .how-it-works__block p {
        width: 271px;
        font-size: 10px;
    }

    .what-will-you-get__title {
        font-size: 20px;
        font-weight: 600 !important;
    }

    .what-will-you-get__block h3 {
        font-size: 15px;
        font-weight: 600 !important;
    }

    .what-will-you-get__block p {
        font-size: 10px;
        font-weight: 400 !important;
    }

    .what-will-you-get__block {
        width: 322px;
    }

    .container {
        width: 100% !important;
        border-radius: 0 !important;
        margin: 0 !important;
    }

    .buttons-header {
        width: auto;
    }

    #block-how {
        margin-top: 38px !important;
    }

    .btn-header {
        width: 240px;
        height: 50px;
        padding: 0;
        font-size: 12px;
        line-height: 12px;
    }

    .buttons-header {
        display: flex !important;
        justify-content: center;
    }

    .footer-logo img {
        width: 100px;
    }

    .footer__social h4,
    .footer__contacts h4 {
        font-size: 20px;
    }

    main.page-test {
        margin-top: 90px;
    }

    form {
        padding: 0px;
    }
}

@media (max-width:440px) {
    .footer-logo img {
        width: 50px;
    }

    .what-will-you-get__block {
        width: 250px;
    }
}