body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle,
            rgba(0, 122, 255, 0.3) 0%,
            /* #007AFF з прозорістю 30% */
            rgba(0, 122, 255, 0.6) 60%,
            /* #007AFF з прозорістю 60% */
            rgba(0, 73, 153, 1) 100%
            /* #004999 без прозорості */
        );
}

header.hero {
    width: 440px;
    height: 415px;
    background: url(./images/bg2.png);
    /* background-size: 100% contain; */
    background-repeat: no-repeat;
}

.hero-content {
    padding-top: 74px;
    padding-left: 40px;
}

div.hero-content h1,
h2,
p {
    width: 276px;
    margin: 0;
}

div.hero-content h1 {
    font-size: 24px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 8px;
}

div.hero-content h2 {
    font-size: 12px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 10px;
    margin-bottom: 8px;
}

div.hero-content p {
    font-size: 10px;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    line-height: 10px;
    margin-bottom: 8px;
}


.hero-img img {
    width: 132px;
    height: 105px;
    position: absolute;
    top: 110px;
    right: 40px;

}

div.buttons {
    display: flex;
    gap: 10px;
    /* justify-content: center; */
}

.btn {
    width: 120px;
    height: 30px;
    background: #FF9500;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 50px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    line-height: 10px;
}

.btn a {
    /* width: 60px; */
}